version: "3.8"

services:
    mysql:
        image: mysql:8.0
        container_name: pantau-barang-mysql
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: ""
            MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
            MYSQL_DATABASE: pantau_barang
        volumes:
            - mysql_data:/var/lib/mysql
        command: --default-authentication-plugin=mysql_native_password
        networks:
            - app-network

networks:
    app-network:
        driver: bridge

volumes:
    mysql_data:
